.register_hotel{
    margin: 0;
    height: 110vh;
    padding-top: 10px;
    background-color: #003b95;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.register_hotel_title{
    width: 20%;
    color: #fff;
}
h1{
    font-size: 48px;
}
.register_hotel_container{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
.register_hotel_form input{
    width: 100%;
    height: 25px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.register_hotel_form button{
    width: 50%;
    height: 45px;
    padding: 10px;
    background-color: #003b95;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}