.hero_cover {
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/santorini-panorama-androklis-nerantzoulis.jpg");
  height: 300px;
  background-size: cover;
}
.hero-title {
  padding-top: 20px;
}
.hero-title h1,
h4 {
  display: flex;
  justify-content: center;
}
.search_box {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.search_box input {
  width: 15%;
  height: 20px;
  border: solid 2px rgb(255, 102, 0);
  margin: 2px;
}
.search_box button {
  margin-left: 10px;
  width: 5%;
  height: 40px;
}
